@import "tailwindcss";
@font-face {
  font-family: "Satoshi";
  font-weight: 500;
  line-height: 150%;
  src: local("Satoshi"), url("../fonts/satoshi_complete/Satoshi-Medium.otf");
}

@font-face {
  font-family: "Inter Tight";
  font-weight: 600;
  line-height: 100%;
  src:
    local("Inter Tight"), url("../fonts/inter_tight/InterTight-SemiBold.ttf");
}

@font-face {
  font-family: "Clash Grotesk";
  font-weight: 500;
  line-height: 28px;
  src:
    local("Clash Grotesk"),
    url("../fonts/clash_grotesk/ClashGrotesk-Medium.otf");
}

html,
body {
  font-family: "Satoshi", sans-serif;
}

h1 {
  font-family: "Inter Tight";
}

.satoshi {
  font-family: "Satoshi", sans-serif;
}

.inter {
  font-family: "Inter Tight";
}

.clash {
  font-family: "Clash Grotesk";
}

.container {
  max-width: 1130px;
  margin: 0 auto;
}

select {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.2em top 50%;
  background-size: 0.65em auto;
  padding-right: 1.5em;
}
